{
  "presets": [
    "react",
    "env"
  ],
  "plugins": [
    [
      "direct-import",
      [
        {
          "name": "material-ui",
          "indexFile": "material-ui/index.es"
        }
      ]
    ],
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}